.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  row-gap: 10px;
}

.toggle {
  --mat-standard-button-toggle-selected-state-background-color: cadetblue;
}

.subtoggle {
  --mat-standard-button-toggle-selected-state-background-color: lightgray;
}