.container {
  padding: 20px;
}

.result {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  column-gap: 15px;
}

button {
  display: block;
  margin-top: 15px;
}

.winner {
  margin: 20px 0;
}

.error {
  color: red;
}