<div class="container">
  <h1>Star Wars Battle</h1>
  <p>
    Choose resource and it's attribute. Press the button to determine winner!
  </p>
  <app-filters testId="filters"></app-filters>

  <div class="result" testId="result">
    <app-winner #winnerComponent [winner]="winner" testId="winner"></app-winner>
    <ng-container *ngIf="!isLoading && (person$ | async) as result">
      <div class="card-container">
        <app-person
          [activeFilter]="filters.toggledFilter"
          [person]="result[0]"
        ></app-person>
        <app-person
          [activeFilter]="filters.toggledFilter"
          [person]="result[1]"
        ></app-person>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLoading && (starship$ | async) as result">
      <div class="card-container">
        <app-starship
          [activeFilter]="filters.toggledFilter"
          [starship]="result[0]"
        ></app-starship>
        <app-starship
          [activeFilter]="filters.toggledFilter"
          [starship]="result[1]"
        ></app-starship>
      </div>
    </ng-container>
  </div>

  <mat-spinner
    *ngIf="isLoading && !errorMessage"
    testId="spinner"
  ></mat-spinner>

  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

  <button mat-raised-button color="primary" (click)="onClick()" testId="button">
    Search
  </button>
</div>
